form .p-dropdown,
form .p-dropdown-filter,
form .p-inputtext,
.p-inputtext,
form .p-autocomplete,
form .p-calendar,
form .p-dropdown-filter-container,
form .p-multiselect {
  width: 100%;
}
label{
  font-weight: 600 !important;
}
.p-inputtext.error,
.p-autocomplete.error input,
.p-multiselect.error,
.p-dropdown.error,
.eroor .css-yk16xz-control {
  border: 1px solid #ff0000 !important;
  background-color: #ffeeee !important;
}
.p-dropdown.error .p-inputtext {
  background-color: #ffeeee !important;
}
.p-multiselect .p-multiselect-trigger {
  background-color: transparent !important;
}
.p-growl {
  z-index: 9999 !important;
}
#prescription .p-panel-content {
  background: #fffcab !important;
}
.p-paginator .p-highlight {
  pointer-events: none !important;
}

.report-table > thead > tr > th,
.report-table > tbody > tr > th,
.report-table > tfoot > tr > th,
.report-table > thead > tr > td,
.report-table > tbody > tr > td,
.report-table > tfoot > tr > td,
.invoice-table > thead > tr > th,
.invoice-table > tbody > tr > th,
.invoice-table > tfoot > tr > th,
.invoice-table > thead > tr > td,
.invoice-table > tbody > tr > td,
.invoice-table > tfoot > tr > td
 {
  padding: 2px !important;
}

.invoice-table{
  color: #000;
}
.invoice-table> thead > tr > th,
.invoice-table> tfoot > tr > td{
  border-top: 1px solid #000 !important;
  border-bottom: 1px solid #000 !important;
}
.invoice-table> thead > tr > th,
.invoice-table> tfoot > tr > td{

background: #ebebeb !important;
font-weight: bold !important;
font-size: 12px !important;
}
.report-table td,
.invoice-table td {
  font-size: 12px !important;
}

.report-table tbody {
  background-color: white !important;
}
.report-group-title {
  font-weight: bold;
}

.invoice-title {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  text-decoration: underline;
}

.vertical-devider {
  border-right: 1px dashed #333;
}