form .p-dropdown,
form .p-dropdown-filter,
form .p-inputtext,
form .p-autocomplete,
form .p-calendar,
form .p-dropdown-filter-container,
form .p-multiselect,
.p-panel {
  width: 100%;
}
.p-readonly {
  background-color: #eee !important;
  pointer-events: none;
}

.p-dropdown-label,
.p-radiobutton-label {
  font-weight: 500 !important;
}
.p-component {
  font-family: "Titillium Web", sans-serif !important;
}
.p-inputtext.error,
.p-autocomplete.error input,
.p-multiselect.error,
.p-dropdown.error,
.eroor .css-yk16xz-control {
  border: 1px solid #ff0000 !important;
  background-color: #ffeeee !important;
}
.p-dropdown.error .p-inputtext {
  background-color: #ffeeee !important;
}
.p-multiselect .p-multiselect-trigger {
  background-color: transparent !important;
}
.p-growl {
  z-index: 9999 !important;
}
.p-panel-titlebar {
  background: #fafafa !important;
  padding: 12px !important;
}
.p-panel-title {
  font-size: 18px !important;
  font-weight: 600;
}
.prescription-preview .p-panel-content {
  background: #fffcab !important;
}
.prescription-preview table:not(.medicine-table) th {
  width: 80px !important;
}

.icon-btn-grid {
  font-size: 11px;
  line-height: 0.5;
  border-radius: 2px;
}
.btn-grid {
  padding: 1px 5px;
  font-size: 11px;
  line-height: 1.5;
  border-radius: 2px;
}
.btn-label {
  position: relative;
  left: -12px;
  display: inline-block;
  padding: 5px 8px;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 3px 0 0 3px;
}
.btn-labeled {
  padding-top: 0;
  padding-bottom: 0;
}
.modal-footer {
  padding: 10px 0 10px 0 !important;
  margin-top: 1rem !important;
}
.instruction-check label,
.followup-check label {
  margin-bottom: 5px !important;
  font-weight: 500 !important;
}

.gujarati-text {
  font-size: 12px !important;
}
.p-paginator .p-highlight {
  pointer-events: none !important;
}
.report-header {
  font-size: 21px;
  text-align: center;
}
.report,
.invoice {
  font-size: 12px !important;
}
hr {
  margin-top: 1px !important;
}
/* .table {
  padding: 8px;
} */
.charge-table th,
.charge-table td {
  padding: 5px;
}
.statistics-table th,
.statistics-table td {
  padding: 8px !important;
}
.report-table th,
.report-table td,
.invoice-table th,
.invoice-table td {
  padding: 4px !important;
}
.report-footer td {
  text-decoration: underline;
  font-weight: 600;
}
.invoice-footer td {
  font-weight: 600;
}
.invoice-table th,
.statistics-table th,
.report-table th,
.report-footer td,
.invoice-footer td {
  background-color: rgba(0, 0, 0, 0.075);
  font-weight: 600;
}
.report-group-title td {
  font-weight: 600;
}

.invoice-title {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
  text-decoration: underline;
}
.invoice-detail {
  margin-bottom: 0px !important;
}
.invoice-detail td {
  padding: 4px !important;
}
.vertical-devider {
  border-right: 1px dashed #333;
}
.fc-event {
  padding: 4px 6px;
  margin: 1px;
  cursor: pointer;
}
.fc-title {
  padding: 2px;
}
.icon-button {
  background: none !important;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
  color: inherit;
}
.input-sm {
  height: 28px !important;
  font-size: 12px !important;
  line-height: 1.5 !important;
  border-radius: 2px !important;
}
.event-indicator {
  cursor: move;
  display: inline-block !important;
  margin-bottom: 6px !important;
  margin-right: 6px !important;
  padding: 8px;
  font-weight: normal;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
}
.display-linebreak {
  white-space: pre-line;
}
@media print {
  .report-table,
  .invoice-table {
    border-style: hidden !important;
  }
  label,
  span,
  strong {
    font-size: 14px;
  }
  /* .invoice {
    font-size: 11pt !important;
    line-height: 1 !important;
  } */
  .invoice-detail td {
    border-style: hidden !important;
    padding: 1px !important;
    line-height: 1.2 !important;
    vertical-align: top !important;
    font-size: 12pt !important;
  }
  .report-table th,
  .report-table td,
  .invoice-table th,
  .invoice-table td {
    /* font-family: Monospace !important; */
    padding: 1px !important;
    line-height: 1.2 !important;
    vertical-align: top !important;
    font-size: 12pt !important;
  }
  .invoice-table th,
  .invoice-table .invoice-footer td {
    background: #ebebeb !important;
  }
}
