.prescription-preview .p-panel-content {
  background: #fffcab !important;
}
.prescription-preview table:not(.medicine-table) th {
  width: 80px !important;
}

.icon-btn-grid {
  font-size: 11px;
  line-height: 0.5;
  border-radius: 2px;
}
.btn-grid {
  padding: 1px 5px;
  font-size: 11px;
  line-height: 1.5;
  border-radius: 2px;
}
.btn-label {
  position: relative;
  left: -12px;
  display: inline-block;
  padding: 5px 8px;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 3px 0 0 3px;
}
.btn-labeled {
  padding-top: 0;
  padding-bottom: 0;
}
.modal-footer {
  padding: 10px 0 0 0 !important;
  margin-top: 1rem !important;
}
.instruction-check label,
.followup-check label {
  margin-bottom: 5px !important;
  font-weight: 500 !important;
}

.gujarati-text {
  font-size: 12px !important;
}

.report-header {
  font-size: 21px;
  text-align: center;
}
.report,
.invoice {
  font-size: 12px !important;
}
hr {
  margin-top: 1px !important;
}

.charge-table th,
.charge-table td {
  padding: 5px;
}
.statistics-table th,
.statistics-table td {
  padding: 8px !important;
}
.report-table th,
.report-table td,
.invoice-table th,
.invoice-table td {
  padding: 4px !important;
}
.report-footer td {
  text-decoration: underline;
  font-weight: 600;
}
.invoice-footer td {
  font-weight: 600;
}
.invoice-table th,
.statistics-table th,
.report-table th,
.report-footer td,
.invoice-footer td {
  background-color: rgba(0, 0, 0, 0.075);
  font-weight: 600;
}
.report-group-title td {
  font-weight: 600;
}

.invoice-title {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
  text-decoration: underline;
}

.vertical-devider {
  border-right: 1px dashed #333;
}
.fc-event {
  padding: 4px 6px;
  margin: 1px;
  cursor: pointer;
}
.fc-title {
  padding: 2px;
}
.icon-button {
  background: none !important;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
  color: inherit;
}
.input-sm {
  height: 28px !important;
  font-size: 12px !important;
  line-height: 1.5 !important;
  border-radius: 2px !important;
}
.event-indicator {
  cursor: move;
  display: inline-block !important;
  margin-bottom: 6px !important;
  margin-right: 6px !important;
  padding: 8px;
  font-weight: normal;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
}
.display-linebreak {
  white-space: pre-line;
}
.font-weight-semi-bold {
  font-weight: 600;
}
@page {
  size: auto;
  margin: 20px;
}
@media print {
  body {
    background: none;
  }
  .A5 {
    width: 206mm;
  }
  .col-md-12 {
    max-width: 100%;
  }
  .col-md-11 {
    max-width: 91.66666667%;
  }
  .col-md-10 {
    max-width: 83.33333333%;
  }
  .col-md-9 {
    max-width: 75%;
  }
  .col-md-8 {
    max-width: 66.66666667%;
  }
  .col-md-7 {
    max-width: 58.33333333%;
  }
  .col-md-6 {
    max-width: 50%;
  }
  .col-md-5 {
    max-width: 41.66666667%;
  }
  .col-md-4 {
    max-width: 33.33333333%;
  }
  .col-md-3 {
    max-width: 25%;
  }
  .col-md-2 {
    max-width: 16.66666667%;
  }
  .col-md-1 {
    max-width: 8.33333%;
  }
  .invoice-odd {
    padding-left: 45px;
  }
  .invoice-even {
    padding-left: 50px;
  }
  .report-table th,
  .report-table td,
  .monthly-invoice table th,
  .monthly-invoice table td {
    padding: 2px !important;
    line-height: 1.2 !important;
    vertical-align: top !important;
    font-size: 12pt !important;
  }

  .page-break {
    page-break-after: always !important;
  }
}
